<div class="@Class">
    <div>
        <BaseCard>
            <MatIcon Class="error_icon" Icon="sentiment_very_dissatisfied"></MatIcon>
            @ChildContent
        </BaseCard>
    </div>
</div>

<style>
    .error_icon {
        text-align: center;
    }

    .error_card_container {
        justify-content: center;
        display: flex;
    }
</style>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string _Class;

    [Parameter]
    public string Class
    {
        get => _Class + " error_card_container";
        set => _Class = value;
    }


}
